$primaryColorDark: #002749;
$primaryColorLight: #033b6d;
$orangeColor:#ff4e31;
$orangeColorDark:#f23010;
$grayColor: #b2bec8;
$grayColorLight: #f2f2f2;
$colorBlack:#000;
$colorWhite:#fff;
$colorGreen: #007236;
$blackColorCustom: #252525;
$titleBorderColor:#e5e5e5;
$darkTextColor:#454545;
$tableHeaderTransparent: #ffedea;
$colorPresent: #1dbc60;
$colorAbsent: #ff0000;
$colorOnTime: #002749;