.sidebar-wrapper{
    min-height: -webkit-calc(100vh - 65px) !important;
    border: 1px solid #dcdcdc;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

    .nav-link{
        border-bottom: 1px solid #dcdcdc;
    }
}
.page-content-wrapper {
    min-width: 0;
    min-height: calc(100vh - 65px) !important;
    border-right: 1px solid #dcdcdc;
    margin-right: -15px;
}
