.header-wrapper{
    background: $primaryColorDark;
    .logo-wrapper{
        height: 50px;
        width: 75px;
        background: #fff;
        img{
            height: 50px;
            width: 75px;
        }
    }
    .social-wrapper{
        margin-top: 20px;
        li{
            list-style: none;
            padding-right: 15px;
            &:last-child{
                padding-right: 0px;
            }
            &:first-child:hover{
                a{
                    color: #0084ff;
                }
            }
            &:nth-child(n+2):hover{
                a{
                    color: #00acee;
                }
            }
            &:nth-child(n+3):hover{
                a{
                    color: #FF0000;
                }
            }
            &:last-child:hover{
                a{
                    color: #0077b5;
                }
            }
        }
        
        a{
            color: $colorWhite;
        }
    }

}
.p-0{
    padding: 0;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-100{
    margin-top: 100px;
}
